.input_custom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Outfit', sans-serif;
  position: relative;
}

.input_label {
  font-weight: 600;
  font-size: 18px;
}

.input_text {
  padding:  8px min(50px, 10vw);
  border-radius: 50px;
  outline: none;
  font-family: 'Outfit', sans-serif;
  height: 70px;
}

.input_text::placeholder {
  font-family: 'Outfit', sans-serif;
}

.search_button {
  position: absolute;
  right: 20px;
  top: 14px;
}