.cards {
  width: 100%;
  min-height: 200px;
  border-radius: 20px;
  overflow: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.446);
  display: flex;
  padding: 20px;
}

.cards_image {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.cards_body {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
}

.comments{
  padding-bottom: 20px;
  height: 100px;
  overflow-y: auto;
  padding-right: 10px;
}

.dtl_col {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.button_comments{
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .cards{
    flex-direction: column;
    gap: 0px
  }
}